In [1]:
import pandas as pd
lista_meses = ['janeiro','fevereiro','março','abril','maio', 'junho']

for mes in lista_meses:
    print(mes.upper())
    tabela_vendas = pd.read_excel(f'{mes}.xlsx')
    print(tabela_vendas)

JANEIRO
      Vendedor  Vendas
0        Maria   41006
1     Giuseppe   38162
2         Anna   24992
3     Giovanni   30826
4      Antonio   22208
..         ...     ...
995     Glauco   26294
996      Georg   30144
997     Tullia   36002
998  Pancrazio   31030
999        Gio   37629

[1000 rows x 2 columns]
FEVEREIRO
      Vendedor  Vendas
0        Maria   25193
1     Giuseppe   27174
2         Anna   34971
3     Giovanni   17164
4      Antonio   22807
..         ...     ...
995     Glauco   27516
996      Georg   49195
997     Tullia   33760
998  Pancrazio   49937
999        Gio   38870

[1000 rows x 2 columns]
MARÇO
      Vendedor  Vendas
0        Maria   22876
1     Giuseppe   31953
2         Anna   17180
3     Giovanni   32777
4      Antonio   39083
..         ...     ...
995     Glauco   26581
996      Georg   22899
997     Tullia   19810
998  Pancrazio   37649
999        Gio   23864

[1000 rows x 2 columns]
ABRIL
      Vendedor  Vendas
0        Maria   18662
1     Giuseppe   28843
2         Anna   23288
3     Giovanni   28157
4      Antonio   48740
..         ...     ...
995     Glauco   39915
996      Georg   37902
997     Tullia   46760
998  Pancrazio   31245
999        Gio   37739

[1000 rows x 2 columns]
MAIO
      Vendedor  Vendas
0        Maria   41006
1     Giuseppe   38162
2         Anna   24992
3     Giovanni   30826
4      Antonio   22208
..         ...     ...
995     Glauco   26294
996      Georg   30144
997     Tullia   36002
998  Pancrazio   31030
999        Gio   37629

[1000 rows x 2 columns]
JUNHO
      Vendedor  Vendas
0        Maria   48539
1     Giuseppe   27292
2         Anna   45813
3     Giovanni   17049
4      Antonio   15988
..         ...     ...
995     Glauco   15842
996      Georg   37695
997     Tullia   42438
998  Pancrazio   35274
999        Gio   47662

[1000 rows x 2 columns]